.Producte_header2{
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
 width: 100%;
 height: 100vh;
 background-size: 100% 100%;
 background-repeat: no-repeat;
.left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    gap: 45px;
    .header_type{
        display: flex;
        height: 150px;
        width: 580px;
        flex-direction: column;
        gap: 20px;
          
    }
    .header_nur{
     width: 500px;
     display: flex;
     gap: 15px;
     justify-content: flex-start;
     align-items: center;
     .header_num {
        display: flex;
        height: 35px;
        width: 167px;
      gap: 5px;
    }
    }
}
.right{
    width: 50%;
    height: 100%;
}
}
