.contain-btn {
    border: none;
    padding: 15px 60px;
    font-size: 16px;
    border-radius: 5px;
    background-color: gold;
    color: white;
    cursor: pointer;
    text-align: left;
    display: flex ;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }