* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .contact2 {
    width: 100%;
    height: 100vh;
  
    .contact2_box1 {
      display: flex;
      flex-direction: column;
      width: 35%;
      align-items: center;
      height: 100px;
      justify-content: center;
  
      .contact2_type1 {
        display: flex;
        text-align: left;
        width: 140px;
      }
  
      .contact2_type2 {
        display: flex;
        text-align: left;
        gap: 20px;
      }
    }
  
    .contact2_box2 {
      display: flex;
      width: 81%;
      justify-content: center;
  
      .contact2_type3 {
        display: flex;
        text-align: left;
        flex-direction: column;
      }
    }
  
    .contact2_cardlar {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      height: 400px;
      align-items: center;
      flex-wrap: wrap;
  
      .contact2_card {
        display: flex;
        flex-direction: column;
        gap: 25px;
  
        .contact2_type4 {
          display: flex;
          text-align: left;
          flex-direction: column;
        }
  
        .contact2_type5 {
          display: flex;
          text-align: left;
          flex-direction: column;
        }
      }
    }
  
    .contact2_card_end {
      display: flex;
      gap: 35px;
      flex-direction: column;
  
      .contact2_card_end2 {
        display: flex;
        text-align: left;
        flex-direction: column;
      }
  
      .contact2_input {
        display: flex;
        gap: 10px;
        width: 630px;
        flex-wrap: wrap;
  
        input {
          width: 300px;
          height: 40px;
          background-color: aliceblue;
          border: none;
          display: flex;
          text-align: center;
        }
      }
    }
  
    .end_button{
     display: flex;
     justify-content: space-around;
     width: 100%;
      gap: 200px;
  
         .end_button1{
          display: flex;
          align-items: center;
          gap: 15px;
            
             span{
              border-bottom: 1px solid gray;
             }
         }
    }
  }